@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.span_cus_1_of_3 {
  width: 25%;
  padding: 2% 1% 0 0;
}

.span_cus_2_of_3 {
  width: 75%;
  padding: 0 0 1.5% 0;
}

.item-content {
  align-items: center;
  display: table-row;
}
.item-content .item-media {
  display: table-cell;
  padding: 10px 15px 10px 15px;
}
.item-content .item-inner {
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c8c7cc;
  display: table-cell;
  padding: 10px 15px 10px 0;
  width: 100%;
}
.item-content .item-inner {
  -moz-transition: border 300ms linear;
  -o-transition: border 300ms linear;
  -webkit-transition: border 300ms linear;
  transition: border 300ms linear;
}
.active .item-content .item-inner,
.open .item-content .item-inner,
li:last-child .item-content .item-inner {
  border-bottom-color: transparent !important;
}

#sidebar {
  background: #364150 !important;
}
#sidebar:before {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav .navbar-title {
  color: white !important;
  font-size: 18px;
  text-align: center;
  padding: 4px 0;
}
#sidebar nav > ul {
  background: #2c3541 !important;
  border-bottom-color: #394557 !important;
  border-top-color: #394557 !important;
}
#sidebar nav > ul > li a:active:focus {
  background: #171c23 !important;
}
#sidebar nav > ul > li > a .item-media > i {
  color: rgba(255, 255, 255, 0.8) !important;
}
#sidebar nav > ul > li > a .item-media .fa-stack .fa-square {
  color: #81b441 !important;
}
#sidebar nav > ul > li > a .item-inner {
  color: rgba(255, 255, 255, 0.5) !important;
  border-bottom-color: #394557;
}
#sidebar nav > ul > li.hover {
  background: #222932 !important;
}
#sidebar nav > ul > li.open {
  background: #222932 !important;
}
#sidebar nav > ul > li:hover {
  background: #222932 !important;
}
#sidebar nav > ul > li.active {
  background: #81b441 !important;
}
#sidebar nav > ul > li.active:hover {
  background: #81b441 !important;
}
@media (min-width: 992px) {
  #sidebar nav > ul > li.active:before {
    border-right-color: transparent !important;
  }
  #sidebar nav > ul > li.active:after {
    border-right-color: #f8f8f8 !important;
  }
}
#sidebar nav > ul > li.active > a:active:focus {
  background: #74a13a !important;
}
#sidebar nav > ul > li.active > a .item-inner {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media > i {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media .fa-stack .fa-square {
  color: #007aff !important;
}
#sidebar nav > ul > li.active .sub-menu {
  background: #262e38;
}
#sidebar nav > ul .sub-menu {
  background: #262e38;
}
#sidebar nav > ul .sub-menu > li.open {
  background: #222932 !important;
}
#sidebar nav > ul .sub-menu > li a {
  color: rgba(255, 255, 255, 0.5);
}
#sidebar nav > ul .sub-menu > li.active a {
  background: #13171d !important;
}
#sidebar nav ul > li.hover {
  background: #222932;
}
#sidebar nav ul > li:hover {
  background: #222932;
}
#sidebar nav ul > li.open {
  background: #222932;
}
#sidebar nav .button-o {
  border-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

#sidebar > div nav > ul li {
  border: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

#sidebar > div nav > ul li {
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.main-navigation-menu a {
  text-decoration: none;
}
.item-inner .title {
  color: white !important;
  font-size: 16px;
}

.Items {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
}

.Item {
  padding: 20px 0 !important;
  width: 31.5%;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: box-shadow, 0.4s, ease-in-out;
  border-radius: 3px;
  height: 500px;
  background-color: #ffffff;
  color: #5b5b60;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

@media (max-width: 1050px) {
  background #fff,
  .Item {
    width: 48%;
  }
}

@media (max-width: 600px) {
  background #fff,
  .Item {
    width: 100%;
  }
}
/* :not(:last-child) {
  margin-bottom: 10px;
} */
.Item__link {
  text-decoration: none;
}
.Item__title {
  text-align: center;
  font-size: 1.1em;
  color: #555;
  width: 100%;
}
.Item__specialty {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  width: 100%;
  padding: 5px !important;
}
.Item__practice {
  font-size: 0.9em;
  color: #555;
  width: 100%;
  padding: 5px !important;
}
.Item__branch {
  font-size: 0.9em;
  color: #555;
  width: 100%;
  padding: 5px !important;
}
.ImageContainer {
  width: 100%;
  height: auto;
}
.Image {
  width: 65%;
  height: 200px;
  object-fit: cover;
}

.avail__heading {
  font-size: 30px;
  margin: 10px 0px;
  padding-left: 15px;
}

.no__doctor {
  font-size: 24px;
}

/* #364150 !important */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.contact .section .span_cus_1_of_3 {
  margin-top: 60px;
}
.contact .section .span_cus_2_of_3 {
  margin-top: 80px;
}

.contact .section .span_cus_1_of_3 #sidebar {
  height: 100vh;
  position: fixed;
  width: 300px;
}

@media (max-width: 1660px) {
  .contact .section .span_cus_1_of_3 #sidebar {
    width: 250px;
  }
}

.wrap {
  width: 80%;
}

@media screen and (max-width: 1366px) {
  .wrap {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .Item {
    width: 48%;
  }
}

@media (max-width: 1100px) {
  .contact .section .span_cus_1_of_3 #sidebar {
    width: 210px;
  }
}
